/* Center the search elements and set the background color */
#search-box,
#search-box2,
#search-button,
#search-button2 {
  display: block;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #f5f397;
  text-align: center;
  padding-top: 25px;
}

/* Center the inscriptions and address divs */
#inscriptions,
#address {
  margin: 0 auto;
  width: 80%;
}

/* Style the inscription title and timestamp */
.inscription h2 {
  color: #114e60;
  font-size: 24px;
  font-weight: bold;
}

.inscription p {
  color: #114e60;
  font-size: 16px;
}

/* Style the owner address */
.owner {
  font-weight: bold;
}

/* Style the images */
img {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #114e60;
}

label {
    font-weight: bold;
    font-size: 1.2em;
}

input[type="text"] {
    font-size: 1.2em;
    padding: 5px;
}

#search-box {
    width: 400px;
}
#search-box2 {
    width: 400px;
}

#search-button, #search-button2 {
    height: 40px;
    width: 120px;
    font-size: 16px;
    margin-top: 5px;
}

.intro {
    font-size: 18px;
    margin-top: 15px;
}

#twitter-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: #555;
    margin: 5px;
    text-decoration: none;
    border: none;
}
  
  #twitter-link img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    border: none;
}

  
  
